body {
  box-sizing: border-box;
  background: url('https://media1.giphy.com/media/2AlpjchqgwIuc/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  background: rgba(255,255,255,.8);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  background: rgba(150,141,135,.76);
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  width: 40vw;
}

.temp-system {
  width: 80px;
  display: flex;
  background: white;
}

.active-system {
  position: absolute;
  background: yellow;
  width: 40px;
}

#celsius,
#fahrenheit {
  width: 40px;
  text-align: center;
}


/* RESET --------------------------------------------------------------*/

/* clear sky: https://media1.giphy.com/media/VxbvpfaTTo3le/giphy.gif */
/* clear NIGHT sky: https://data.whicdn.com/images/303306624/original.gif */
/* few clouds: https://media1.giphy.com/media/pRQmCJ4pMXftS/giphy.gif */
/* few clouds NIGHT: https://media.giphy.com/media/AtK6cr1n21uY8/giphy.gif */
/* scattered couds: https://data.whicdn.com/images/272241949/original.gif */
/* scattered clouds NIGHT: https://i.pinimg.com/originals/6d/d0/84/6dd084a91a77db1bb147f78db22cb51d.gif */
/* broken clouds: https://data.whicdn.com/images/311386781/original.gif */
/* broken clouds NIGHT */
/* showers: https://i.pinimg.com/originals/a4/fa/12/a4fa1253438edb2146cb1c6458d7d9dc.gif */
/* NIGHT showers: https://media2.giphy.com/media/RHjyppvaMzJGU/source.gif */
/* rainy: https://i.pinimg.com/originals/6f/2c/9f/6f2c9fdd7de3223063ad01bd53670a5d.gif */
/* rainy NIGHT: https://i.pinimg.com/originals/52/46/2a/52462a9f57dad91c7d80384bf737346c.gif */
/* stormy: https://data.whicdn.com/images/303275638/original.gif */
/* stormy NIGHT: https://media0.giphy.com/media/3o7TKs9TQX323TdQeA/source.gif */
/* snowy: https://media.giphy.com/media/lMr6k5bqTTioM/giphy.gif */
/* snowy NIGHT: https://media2.giphy.com/media/Jr0uBlFYhqNA4/giphy.gif */
/* foggy: https://thumbs.gfycat.com/LightHospitableDoe-size_restricted.gif */
/* foggy NIGHT: https://media1.giphy.com/media/2AlpjchqgwIuc/giphy.gif */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
