html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  font-family: Arial, sans-serif;
  margin: 50px auto 0 auto;
  width: 30vw;
  min-width: 460px;
}

input,
.container,
.temp-system-container {
  border-radius: 5px;
  position: relative;
  margin: 0 auto 20px auto;
}

input {
  background: rgba(255,255,255,.8);
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
}

input:focus {
  outline: none;
}

.container {
  background: rgba(255,255,255,.40);
  height: 400px;
  width: 100%;
}

.icon-description-wrapper {
  float: right;
  margin-top: 42px;
  position: relative;
}

#weather-icon {
  position: absolute;
  right: 30px;
}

#description {
  font-size: 24px;
  margin-right: 30px;
  margin-top: 100px;
  max-width: 150px;
  text-align: right;
}

#city-name {
  padding-top: 30px;
  font-size: 26px;
}

#city-name,
#temperature,
#temp-feel {
  margin-left: 30px;
}

#temperature {
  font-weight: bold;
  font-size: 80px;
}

#temp-feel {
  margin-top: 5px;
  font-size: 24px;
}

.division-line {
  border-bottom: 2px solid rgb(103,91,100);
  margin-top: 30px;
  width: 100%;
}

.detail {
  color: rgb(59,53,57);
  margin-left: 30px;
  margin-top: 30px;
  font-size: 20px;
  display: inline-block;
  font-weight: bold;
}

#max-temp,
#wind {
  float: right;
  margin-right: 30px;
}

#pressure {
  text-align: center;
  display: block;
}

.temp-system-container {
  width: 80px;
  display: flex;
  background: rgba(255,255,255,.57);
}

.active-system {
  position: absolute;
  border-radius: 5px;
  background: rgba(233,233,233);
  width: 40px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  transition: 1s;
}

#celsius,
#fahrenheit {
  width: 40px;
  text-align: center;
  background: transparent;
  z-index: 11;
}

#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
}


/* RESET --------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
